@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@font-face {
  font-family: nb;
  src: url(../public/NBInternationalProBoo.ttf);
}
@font-face {
  font-family: jc;
  src: url(../public/Rejouice-Headline.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: nb;
}
.company span {
  font-family: jc;
}
.company {
  line-height: 27vh;
}
.loader-text,
.transition-image {
  font-family: jc;
}
.preloader {
  height: 100vh;
  width: 100%;
  background: black;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  overflow: hidden !important;
}
