@import url("https://fonts.googleapis.com/css2?family=Anta&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  scroll-behavior: smooth;
}

@font-face {
  font-family: nb;
  src: url(../public/NBInternationalProBoo.ttf);
}
@font-face {
  font-family: jc;
  src: url(../public/Rejouice-Headline.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: nb;
}
.company span {
  font-family: jc;
}
.company {
  line-height: 27vh;
}
.loader-text,
.transition-image {
  font-family: jc;
}
.preloader {
  height: 100vh;
  width: 100%;
  background: black;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  overflow: hidden !important;
}

/* loader */

body.loading {
  overflow: hidden;
  height: 100vh;
}

.loader .loader-inner .image-block {
  position: absolute;
  transform-origin: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader .loader-inner .image-block.image-1 {
  width: 400px;
  left: 16%;
  bottom: 14%;
}

/* @media (max-width: $layout-breakpoint-xsmall) {
  .loader .loader-inner .image-block.image-1 {
    left: 4%;
    bottom: 28%;
  }
} */

.loader .loader-inner .image-block.image-3 {
  width: 300px;
  right: 12%;
  top: 8%;
}

/* @media (max-width: $layout-breakpoint-xsmall) {
  .loader .loader-inner .image-block.image-3 {
    top: 16%;
    right: 4%;
  }
} */

.loader .loader-inner .image-block.image-4 {
  max-width: 400px;
  width: 40%;
  right: 20%;
  bottom: 10%;
}
.loader .loader-inner .image-block.image-5 {
  width: 280px;
  left: 14%;
  top: 12%;
}
.loader .loader-inner .image-block img {
  width: 100%;
  object-fit: fill;
}

/* @media (max-width: $layout-breakpoint-xsmall) {
  .loader .loader-inner .image-block.image-4 {
    right: 6%;
    bottom: 32%;
  }
}


@media (max-width: $layout-breakpoint-xsmall) {
  .loader .loader-inner .image-block.image-5 {
    left: 6%;
    top: 18%;
  }
}

*/

#chairmain {
  box-shadow: 5px -15px 20px #1c1c1c;
}

#hero-content {
  background-color: white;
  box-shadow: 5px 10px #888888;
}
.img-round {
  border-top-right-radius: 150px;
}
.side-line {
  box-shadow: -5px 1px 10px white;
}
.chair {
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
}
